In [ ]:
#Importing data
import pandas as pd
df=pd.read_csv('/content/Sales_data_zone_wise.csv')
print(df)

         Month  Zone - A  Zone - B  Zone - C  Zone - D
0    Month - 1   1483525   1748451   1523308   2267260
1    Month - 2   1238428   1707421   2212113   1994341
2    Month - 3   1860771   2091194   1282374   1241600
3    Month - 4   1871571   1759617   2290580   2252681
4    Month - 5   1244922   1606010   1818334   1326062
5    Month - 6   1534390   1573128   1751825   2292044
6    Month - 7   1820196   1992031   1786826   1688055
7    Month - 8   1625696   1665534   2161754   2363315
8    Month - 9   1652644   1873402   1755290   1422059
9   Month - 10   1852450   1913059   1754314   1608387
10  Month - 11   2004480   1740365   1317869   1970069
11  Month - 12   1537539   1875658   1237722   1460165
12  Month - 13   1254939   1588473   1348629   1733383
13  Month - 14   1821799   1844081   1617376   1872259
14  Month - 15   1128185   1804613   1767047   1234311
15  Month - 16   1491534   1542053   1882159   1590913
16  Month - 17   1182110   1552388   2234469   2180416
17  Month - 18   1770324   1699213   1249821   2364132
18  Month - 19   1181635   1959268   2009168   1821882
19  Month - 20   1305972   1559670   2107949   2151008
20  Month - 21   1570152   2013615   1540016   2265814
21  Month - 22   1481619   1527574   2255729   2295079
22  Month - 23   1887694   1992155   1348387   1459683
23  Month - 24   1880820   1752873   2098463   2052591
24  Month - 25   1256333   1622671   1521792   1695122
25  Month - 26   1422853   1715465   1853636   1520406
26  Month - 27   1384426   1983163   1611169   1289160
27  Month - 28   1616640   1547991   2128022   2178267
28  Month - 29   1310654   1660092   1947119   1854412

In [ ]:
#The mean sales generated by each zone.
print(df.mean())

Zone - A    1.540493e+06
Zone - B    1.755560e+06
Zone - C    1.772871e+06
Zone - D    1.842927e+06
dtype: float64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [10]:
#Total sales generated by all the zones for each month.
data=df.groupby(['Month'])['Zone - A','Zone - B','Zone - C','Zone - D'].sum()
print(data)

            Zone - A  Zone - B  Zone - C  Zone - D
Month
Month - 1    1483525   1748451   1523308   2267260
Month - 10   1852450   1913059   1754314   1608387
Month - 11   2004480   1740365   1317869   1970069
Month - 12   1537539   1875658   1237722   1460165
Month - 13   1254939   1588473   1348629   1733383
Month - 14   1821799   1844081   1617376   1872259
Month - 15   1128185   1804613   1767047   1234311
Month - 16   1491534   1542053   1882159   1590913
Month - 17   1182110   1552388   2234469   2180416
Month - 18   1770324   1699213   1249821   2364132
Month - 19   1181635   1959268   2009168   1821882
Month - 2    1238428   1707421   2212113   1994341
Month - 20   1305972   1559670   2107949   2151008
Month - 21   1570152   2013615   1540016   2265814
Month - 22   1481619   1527574   2255729   2295079
Month - 23   1887694   1992155   1348387   1459683
Month - 24   1880820   1752873   2098463   2052591
Month - 25   1256333   1622671   1521792   1695122
Month - 26   1422853   1715465   1853636   1520406
Month - 27   1384426   1983163   1611169   1289160
Month - 28   1616640   1547991   2128022   2178267
Month - 29   1310654   1660092   1947119   1854412
Month - 3    1860771   2091194   1282374   1241600
Month - 4    1871571   1759617   2290580   2252681
Month - 5    1244922   1606010   1818334   1326062
Month - 6    1534390   1573128   1751825   2292044
Month - 7    1820196   1992031   1786826   1688055
Month - 8    1625696   1665534   2161754   2363315
Month - 9    1652644   1873402   1755290   1422059

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

H0-All zones generate same amount of sales
H1-All zones do not generate same amount of sales

In [5]:
#To Check whether all the zones generate the same amount of sales.
import scipy.stats as stats
fvalue,pvalue=stats.f_oneway(df['Zone - A'],df['Zone - B'],df['Zone - C'],df['Zone - D'])
print(fvalue,pvalue)
if pvalue<0.05:
    print('Ample evidence to reject the null hypothesis')
else:
    print('Ample evidence to fail to reject the null hypothesis')

5.672056106843581 0.0011827601694503335
Ample evidence to reject the null hypothesis